body
{
  color: white;
  background: #c0d3ff;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#result_emotion_name ,#result_emotion_name2  
{
  color: black;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size: 18px;
}
.Action
{
  font-size: 30px;
  border-radius: 20px;
  letter-spacing: 10px;
}
label{
  color: green;
  background-color: aliceblue;
  font-size: 15px;
  border-radius: 10px;
  padding: 6px;
}